<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">
    <div class="container mt-5" style="max-width: 1000px;">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="mb-0">채팅방</h3>
                <button class="btn btn-secondary btn-sm" th:onclick="|location.href='/room/exit/' + ${room.id}|">
                    나가기
                </button>
            </div>

            <div id="chat-page" class="card-body">
                <div class="mb-4">
                    <h5 class="fw-bold">채팅방 인원</h5>
                    <div id="memberList" class="dropdown-menu show p-2 border" aria-labelledby="showUserListButton" style="max-height: 200px; overflow-y: auto;"></div>
                </div>

                <div class="mb-4">
                    <h4 class="mb-3">채팅방 이름</h4>
                    <ul id="messageArea" class="list-group mb-3" style="max-height: 300px; overflow-y: auto;"></ul>

                    <form id="messageForm" class="d-flex gap-2 align-items-stretch">
                        <input type="text" id="messageInput" class="form-control" placeholder="메시지를 입력하세요..." autocomplete="off" />
                        <button type="submit" class="btn btn-primary" style="white-space: nowrap; min-width: 80px;">보내기</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- J Query -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- SockJs and StompJS -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>

    <!-- Java Script -->
    <script th:src="@{/js/common/websocket.js}"></script>

    <!-- Logic -->
    <script th:inline="javascript">
        const roomId = [[${room.id}]];

        // 창 닫기
        window.addEventListener("beforeunload", () => {
            console.log("beforeunload");
            navigator.sendBeacon(`/room/exit/${roomId}`);
        });

        // 뒤로 가기
        window.addEventListener("popstate", () => {
            console.log("popstate");
            navigator.sendBeacon(`/room/exit/${roomId}`);
        });
    </script>

</th:block>
</html>
