<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">
    <div class="container mt-5" style="max-width: 1000px; min-height: 800px;">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="mb-0" th:text="${room.name} ?: ''">채팅방</h3>
                <button class="btn btn-secondary btn-sm" id="exit" onclick="handleExit()">
                    나가기
                </button>
            </div>

            <div class="card-body">
                <div id="buttons" class="row">
                    <div class="btn-group mb-3" role="group">
                        <button type="button" id="videoToggle" class="btn btn-outline-success">Video On</button>
                        <button type="button" id="audioToggle" class="btn btn-outline-success">Audio On</button>
                        <button type="button" id="viewToggle" class="btn btn-outline-success">View On</button>
                    </div>
                    <!--                <div class="btn-group mr-2" role="group">-->
                    <!--                    <div class="mr-2" data-toggle="buttons">-->
                    <!--                        <label class="btn btn-outline-success" id="video_off">-->
                    <!--                            <input type="radio" name="options" style="display:none" autocomplete="off">Video On-->
                    <!--                        </label>-->
                    <!--                        <label class="btn btn-outline-warning active" id="video_on">-->
                    <!--                            <input type="radio" name="options" style="display:none" autocomplete="off" checked>Video Off-->
                    <!--                        </label>-->
                    <!--                    </div>-->
                    <!--                    <div class="mr-2" data-toggle="buttons">-->
                    <!--                        <label class="btn btn-outline-success" id="audio_off">-->
                    <!--                            <input type="radio" name="options" style="display:none" autocomplete="off">Audio On-->
                    <!--                        </label>-->
                    <!--                        <label class="btn btn-outline-warning active" id="audio_on">-->
                    <!--                            <input type="radio" name="options" style="display:none" autocomplete="off" checked>Audio Off-->
                    <!--                        </label>-->
                    <!--                    </div>-->
                    <!--                    <div class="mr-2" data-toggle="buttons">-->
                    <!--                        <label class="btn btn-outline-success" id="view_on">-->
                    <!--                            <input type="radio" name="options" style="display:none" autocomplete="off">view On-->
                    <!--                        </label>-->
                    <!--                        <label class="btn btn-outline-warning active" id="view_off">-->
                    <!--                            <input type="radio" name="options" style="display:none" autocomplete="off">view Off-->
                    <!--                        </label>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>
            </div>
            <div>
                <div class="row px-3">
                    <div class="col-md-6 mb-3">
                        <div class="card h-100">
                            <div class="card-header text-center">
                                내 화면 (Local)
                            </div>
<!--                            <div class="ratio ratio-16x9">-->
                            <div class="ratio ratio-4x3">
                                <video id="local_video" autoplay playsinline muted style="width: 100%; height: 100%; object-fit: cover;"></video>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card h-100">
                            <div class="card-header text-center">
                                상대방 화면 (Remote)
                            </div>
<!--                            <div class="ratio ratio-16x9">-->
                            <div class="ratio ratio-4x3">
                                <video id="remote_video" autoplay playsinline style="width: 100%; height: 100%; object-fit: cover;"></video>
                            </div>
                        </div>
                    </div>
                </div>
                <!--            <div class="col-md-6 mb-3">-->
                <!--                <div class="card">-->
                <!--                    <div class="card-header text-center">-->
                <!--                        공유 비디오 (Remote)-->
                <!--                    </div>-->
                <!--                    <video id="share" autoplay playsinline class="card-img-top"></video>-->
                <!--                </div>-->
                <!--            </div>-->
            </div>
        </div>
        </div>

    <!-- Logic -->
    <script th:inline="javascript">
        const roomId = /*[[${room.id}]]*/ null;

        // WebRTC 변수
        let localStream;        // media stream -> [0] - audio track, [1] - video track
        let shareView;          // shared stream -> [0] - shared video track
        let myPeerConnection;   // RTCPeerConnection instance

        // 나가기 버튼 클릭 시
        const handleExit = async () => {
            console.log("exit");
            await fetch(`/room/exit/${roomId}`, {
                method: "POST",
                headers: {"Content-Type": "application/x-www-form-urlencoded"},
            })

            window.location.href = "/"
        }

        // 창 닫기
        window.addEventListener("beforeunload", () => {
            console.log("beforeunload");
            navigator.sendBeacon(`/room/exit/${roomId}`);

        });

        // 뒤로 가기
        window.addEventListener("popstate", () => {
            console.log("popstate");
            navigator.sendBeacon(`/room/exit/${roomId}`);
        });
    </script>

    <!-- Java Script -->

    <script type="module" th:src="@{/js/webrtc.js}"></script>

</th:block>
</html>