<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">  <!-- 수정된 부분 -->
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/" th:text="'Portfolio'">Portfolio</a>

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" type="button">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto md-0 me-3 my-md-0">
            <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle btn btn-dark" id="navbarDropdown"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <form>
                            <button type="button" class="dropdown-item" th:onclick="|goMemberInfo|">회원정보</button>
                        </form>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item" style="background: none; border: none; color: inherit;">
                                로그아웃
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</html>