<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment/header :: header">
</head>
<body class="bg-light">
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h3 class="mb-4 text-center">로그인</h3>
        <form method="post" th:action th:object="${login}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>
            <div class="mb-3">
                <label for="loginId" class="form-label">Login Id:</label>
                <input type="text" class="form-control" id="loginId" th:field="*{loginId}" th:errorclass="field-error">
                <p class="field-error" th:errors="*{loginId}"></p>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" th:errorclass="field-error">
                <p class="field-error" th:errors="*{password}"></p>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" id="rememberId" name="rememberId" type="checkbox">
                <label for="rememberId" class="form-check-label">아이디 저장</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
            <div class="text-right">
                <a class="text-decoration-underline text-primary" th:href="@{/members/new}">Sign up</a>
            </div>
            <div class="text-right">
                <a class="text-decoration-underline text-primary">Find Info</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>